<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/addUser}"
      th:object="${user}" method="POST" class="text-center">

    <!Я потратил 2 часа просто для того чтобы понять как выравнить эту ** :)>
    <!Типо что это делается с помощью class=center я нашел сразу а вот на то почему оно не работало потратил 2 часа>

    <br><br><br>

    <div class="text-center justify-content-center align-self-center">
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="exampleInputEmail1">First name:</label>
                <input type="text" th:field="*{firstName}" class="form-control text-center" placeholder="Enter first name">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="exampleInputEmail1">Last name:</label>
                <input type="text" th:field="*{lastName}" class="form-control text-center" placeholder="Enter last name">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" th:field="*{email}" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
    </div>

    <input type="submit" value="Create"/>
</form>
</body>
</html>